-- MySQL dump 10.13  Distrib 8.4.9, for Win64 (x86_64)
--
-- Host: localhost    Database: jaedaero
-- ------------------------------------------------------
-- Server version	8.4.9

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ai_analysis`
--

DROP TABLE IF EXISTS `ai_analysis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_analysis` (
  `analysis_id` bigint NOT NULL AUTO_INCREMENT COMMENT 'AI 분석 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `snapshot_id` bigint DEFAULT NULL COMMENT '분석 기준 자산 스냅샷 ID',
  `simulation_id` bigint DEFAULT NULL COMMENT '참조한 시뮬레이션 FK',
  `analysis_type` enum('CONSUMPTION','SAVING','INVESTMENT','POLICY','DIAGNOSIS','SCENARIO_COMPARISON') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '분석 유형',
  `result_json` json NOT NULL COMMENT 'AI 분석 결과',
  `input_data_hash` char(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '분석 입력값 SHA-256 해시',
  `model_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'AI 모델명',
  `prompt_version` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '프롬프트 버전',
  `generation_source` enum('OPENAI','FALLBACK') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '원본 문구 생성 경로 — OpenAI 성공 또는 템플릿 대체; CACHE는 응답 시점 상태라 저장하지 않음',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  PRIMARY KEY (`analysis_id`),
  KEY `fk_ai_analysis_user` (`user_id`),
  KEY `fk_ai_analysis_snapshot` (`snapshot_id`),
  KEY `fk_ai_analysis_simulation` (`simulation_id`),
  KEY `idx_ai_analysis_input_hash` (`input_data_hash`),
  CONSTRAINT `fk_ai_analysis_simulation` FOREIGN KEY (`simulation_id`) REFERENCES `simulation` (`simulation_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_ai_analysis_snapshot` FOREIGN KEY (`snapshot_id`) REFERENCES `asset_snapshot` (`snapshot_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_ai_analysis_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='AI 분석 이력';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_analysis`
--

LOCK TABLES `ai_analysis` WRITE;
/*!40000 ALTER TABLE `ai_analysis` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_analysis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ai_recommended_scenario`
--

DROP TABLE IF EXISTS `ai_recommended_scenario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_recommended_scenario` (
  `scenario_id` bigint NOT NULL AUTO_INCREMENT COMMENT 'AI 추천 시나리오 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `monthly_saving_amount` bigint NOT NULL COMMENT '추천 월 저축액',
  `investment_ratio` decimal(5,2) NOT NULL COMMENT '추천 투자 비율(%)',
  `expected_return_rate` decimal(5,2) NOT NULL COMMENT '목표 투자수익률(%, 연 환산)',
  `monthly_spending_amount` bigint NOT NULL COMMENT '추천 월 소비액',
  `expected_asset` bigint NOT NULL COMMENT '추천 전역 예상 자산',
  `financial_discharge_date` date DEFAULT NULL COMMENT '추천 재정적 전역일',
  `recommend_reason` text COLLATE utf8mb4_unicode_ci COMMENT '추천 사유',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  PRIMARY KEY (`scenario_id`),
  KEY `fk_ai_recommended_scenario_user` (`user_id`),
  CONSTRAINT `fk_ai_recommended_scenario_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_ai_recommended_scenario_investment_ratio` CHECK ((`investment_ratio` between 0 and 100))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='AI 추천 시나리오 — 숫자 필드는 Spring 계산(결정론적), GPT는 recommend_reason 서술에만 선택적으로 관여(2026-07-24 확정)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_recommended_scenario`
--

LOCK TABLES `ai_recommended_scenario` WRITE;
/*!40000 ALTER TABLE `ai_recommended_scenario` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_recommended_scenario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asset_snapshot`
--

DROP TABLE IF EXISTS `asset_snapshot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asset_snapshot` (
  `snapshot_id` bigint NOT NULL AUTO_INCREMENT COMMENT '자산 스냅샷 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `total_asset` bigint NOT NULL DEFAULT '0' COMMENT '총 자산',
  `total_saving` bigint NOT NULL DEFAULT '0' COMMENT '총 저축',
  `total_spending` bigint NOT NULL DEFAULT '0' COMMENT '총 소비',
  `snapshot_date` date NOT NULL COMMENT '기준일',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  PRIMARY KEY (`snapshot_id`),
  UNIQUE KEY `uq_asset_snapshot_user_date` (`user_id`,`snapshot_date`),
  CONSTRAINT `fk_asset_snapshot_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='일별 자산 스냅샷 — connected_account.current_balance 합계 + transaction_history 집계로 계산하는 파생 데이터(CODEF 직접 매핑 아님)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asset_snapshot`
--

LOCK TABLES `asset_snapshot` WRITE;
/*!40000 ALTER TABLE `asset_snapshot` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_snapshot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `badge`
--

DROP TABLE IF EXISTS `badge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `badge` (
  `badge_id` bigint NOT NULL AUTO_INCREMENT COMMENT '뱃지 ID',
  `badge_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '뱃지명',
  `badge_description` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '뱃지 획득 조건 설명',
  `mission_type` enum('SAFE','AGGRESSIVE') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '뱃지 투자 성향',
  `required_completion_count` int NOT NULL COMMENT '티어 획득에 필요한 누적 미션 완료 수',
  `grade` enum('BRONZE','SILVER','GOLD','PLATINUM','DIAMOND') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '뱃지 등급',
  `is_active` tinyint(1) NOT NULL DEFAULT '1' COMMENT '활성 여부',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  PRIMARY KEY (`badge_id`),
  UNIQUE KEY `uq_badge_name` (`badge_name`),
  UNIQUE KEY `uq_badge_mission_type_grade` (`mission_type`,`grade`),
  UNIQUE KEY `uq_badge_mission_type_completion_count` (`mission_type`,`required_completion_count`),
  CONSTRAINT `chk_badge_required_completion_count` CHECK ((`required_completion_count` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='성향별 누적 미션 완료 수 티어를 정의하는 뱃지 마스터';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `badge`
--

LOCK TABLES `badge` WRITE;
/*!40000 ALTER TABLE `badge` DISABLE KEYS */;
/*!40000 ALTER TABLE `badge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cashflow_forecast`
--

DROP TABLE IF EXISTS `cashflow_forecast`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cashflow_forecast` (
  `forecast_id` bigint NOT NULL AUTO_INCREMENT COMMENT '예측 결과 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `base_asset` bigint NOT NULL DEFAULT '0' COMMENT '계산 기준 현재 자산',
  `expected_salary` bigint NOT NULL DEFAULT '0' COMMENT '전역까지 예상 총급여',
  `expected_saving_amount` bigint NOT NULL DEFAULT '0' COMMENT '적금 예상 수령액',
  `expected_asset` bigint NOT NULL DEFAULT '0' COMMENT '전역 예상 자산',
  `monthly_spending_limit` bigint NOT NULL DEFAULT '0' COMMENT '월 소비 상한선',
  `achievement_rate` decimal(5,2) NOT NULL DEFAULT '0.00' COMMENT '목표 달성률',
  `financial_discharge_date` date DEFAULT NULL COMMENT '재정적 전역일',
  `policy_version` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '적용 봉급 정책 버전',
  `generated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '계산 일시',
  PRIMARY KEY (`forecast_id`),
  KEY `fk_cashflow_forecast_user` (`user_id`),
  CONSTRAINT `fk_cashflow_forecast_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_cashflow_forecast_achievement_rate` CHECK ((`achievement_rate` between 0 and 999.99))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='캐시플로우 예측 요약';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cashflow_forecast`
--

LOCK TABLES `cashflow_forecast` WRITE;
/*!40000 ALTER TABLE `cashflow_forecast` DISABLE KEYS */;
/*!40000 ALTER TABLE `cashflow_forecast` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cashflow_forecast_month`
--

DROP TABLE IF EXISTS `cashflow_forecast_month`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cashflow_forecast_month` (
  `forecast_month_id` bigint NOT NULL AUTO_INCREMENT COMMENT '월별 예측 ID',
  `forecast_id` bigint NOT NULL COMMENT '예측 결과 ID',
  `forecast_month` date NOT NULL COMMENT '예측 월의 첫날',
  `expected_rank` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '예상 계급',
  `expected_salary` bigint NOT NULL DEFAULT '0' COMMENT '예상 급여',
  `expected_saving_amount` bigint NOT NULL DEFAULT '0' COMMENT '예상 저축액',
  `expected_spending_amount` bigint NOT NULL DEFAULT '0' COMMENT '예상 소비액',
  `expected_ending_asset` bigint NOT NULL DEFAULT '0' COMMENT '월말 예상 자산',
  PRIMARY KEY (`forecast_month_id`),
  UNIQUE KEY `uq_cashflow_forecast_month` (`forecast_id`,`forecast_month`),
  CONSTRAINT `fk_cashflow_forecast_month_forecast` FOREIGN KEY (`forecast_id`) REFERENCES `cashflow_forecast` (`forecast_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='월별 캐시플로우 예측 — 홈 탭 "월별 자산 흐름 그래프"의 데이터 소스';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cashflow_forecast_month`
--

LOCK TABLES `cashflow_forecast_month` WRITE;
/*!40000 ALTER TABLE `cashflow_forecast_month` DISABLE KEYS */;
/*!40000 ALTER TABLE `cashflow_forecast_month` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `challenge_group`
--

DROP TABLE IF EXISTS `challenge_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `challenge_group` (
  `group_id` bigint NOT NULL AUTO_INCREMENT COMMENT '동기 그룹 ID',
  `soldier_type` enum('ARMY','NAVY','AIRFORCE','MARINE') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '군종',
  `enlistment_year` int NOT NULL COMMENT '입대 연도',
  `enlistment_month` int NOT NULL COMMENT '입대 월',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  PRIMARY KEY (`group_id`),
  UNIQUE KEY `uq_challenge_group_cohort` (`soldier_type`,`enlistment_year`,`enlistment_month`),
  CONSTRAINT `chk_challenge_group_month` CHECK ((`enlistment_month` between 1 and 12))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='입대 동기 챌린지 그룹';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `challenge_group`
--

LOCK TABLES `challenge_group` WRITE;
/*!40000 ALTER TABLE `challenge_group` DISABLE KEYS */;
INSERT INTO `challenge_group` VALUES (1,'ARMY',2026,6,'2026-08-05 07:14:26'),(2,'ARMY',2026,8,'2026-08-06 05:38:19');
/*!40000 ALTER TABLE `challenge_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `challenge_member`
--

DROP TABLE IF EXISTS `challenge_member`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `challenge_member` (
  `member_id` bigint NOT NULL AUTO_INCREMENT COMMENT '챌린지 참여 ID',
  `group_id` bigint NOT NULL COMMENT '동기 그룹 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `joined_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '참여 일시',
  PRIMARY KEY (`member_id`),
  UNIQUE KEY `uq_challenge_member_group_user` (`group_id`,`user_id`),
  KEY `fk_challenge_member_user` (`user_id`),
  CONSTRAINT `fk_challenge_member_group` FOREIGN KEY (`group_id`) REFERENCES `challenge_group` (`group_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_challenge_member_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='챌린지 참여자 — 미션 완료 수와 순위는 챌린지 결과 테이블로 이력화(현재값 캐시 아님)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `challenge_member`
--

LOCK TABLES `challenge_member` WRITE;
/*!40000 ALTER TABLE `challenge_member` DISABLE KEYS */;
INSERT INTO `challenge_member` VALUES (1,1,2,'2026-08-05 07:14:26'),(2,2,3,'2026-08-06 05:38:19'),(3,2,4,'2026-08-06 05:38:19'),(4,2,5,'2026-08-06 05:38:19'),(5,2,6,'2026-08-06 05:38:19'),(6,2,7,'2026-08-06 05:38:19'),(7,2,8,'2026-08-06 05:38:19'),(8,2,9,'2026-08-06 05:38:19'),(9,2,10,'2026-08-06 05:38:19'),(10,2,11,'2026-08-06 05:38:19'),(11,2,12,'2026-08-06 05:38:19'),(12,2,13,'2026-08-06 05:38:19'),(13,2,14,'2026-08-06 05:38:19');
/*!40000 ALTER TABLE `challenge_member` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `challenge_member_summary`
--

DROP TABLE IF EXISTS `challenge_member_summary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `challenge_member_summary` (
  `member_id` bigint NOT NULL COMMENT '챌린지 참여 ID',
  `total_mission_count` int NOT NULL DEFAULT '0' COMMENT '누적 미션 완료 수',
  `overall_ranking_no` int DEFAULT NULL COMMENT '전체 기간 동기 그룹 내 순위',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '집계 갱신 일시',
  PRIMARY KEY (`member_id`),
  CONSTRAINT `fk_challenge_member_summary_member` FOREIGN KEY (`member_id`) REFERENCES `challenge_member` (`member_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_challenge_member_summary_mission_count` CHECK ((`total_mission_count` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='챌린지 참여자의 누적 미션 완료 수와 전체 동기 랭킹용 집계값';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `challenge_member_summary`
--

LOCK TABLES `challenge_member_summary` WRITE;
/*!40000 ALTER TABLE `challenge_member_summary` DISABLE KEYS */;
INSERT INTO `challenge_member_summary` VALUES (2,60,NULL,'2026-08-06 05:38:19'),(3,57,NULL,'2026-08-06 05:38:19'),(4,55,NULL,'2026-08-06 05:38:19'),(5,52,NULL,'2026-08-06 05:38:19'),(6,50,NULL,'2026-08-06 05:38:19'),(7,45,NULL,'2026-08-06 05:38:19'),(8,42,NULL,'2026-08-06 05:38:19'),(9,37,NULL,'2026-08-06 05:38:19'),(10,33,NULL,'2026-08-06 05:38:19'),(11,30,NULL,'2026-08-06 05:38:19'),(12,25,NULL,'2026-08-06 05:38:19'),(13,18,NULL,'2026-08-06 05:38:19');
/*!40000 ALTER TABLE `challenge_member_summary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `challenge_monthly_result`
--

DROP TABLE IF EXISTS `challenge_monthly_result`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `challenge_monthly_result` (
  `challenge_result_id` bigint NOT NULL AUTO_INCREMENT COMMENT '월별 챌린지 결과 ID',
  `member_id` bigint NOT NULL COMMENT '챌린지 참여 ID',
  `result_month` date NOT NULL COMMENT '결과 월의 첫날',
  `mission_completion_count` int NOT NULL DEFAULT '0' COMMENT '해당 월 미션 완료 수',
  `ranking_no` int DEFAULT NULL COMMENT '동기 그룹 내 순위',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  PRIMARY KEY (`challenge_result_id`),
  UNIQUE KEY `uq_challenge_monthly_result` (`member_id`,`result_month`),
  CONSTRAINT `fk_challenge_monthly_result_member` FOREIGN KEY (`member_id`) REFERENCES `challenge_member` (`member_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_challenge_monthly_result_completion_count` CHECK ((`mission_completion_count` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='월별 챌린지 결과 — 월별 미션 완료 수와 동기 그룹 내 순위 이력';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `challenge_monthly_result`
--

LOCK TABLES `challenge_monthly_result` WRITE;
/*!40000 ALTER TABLE `challenge_monthly_result` DISABLE KEYS */;
/*!40000 ALTER TABLE `challenge_monthly_result` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codef_connection`
--

DROP TABLE IF EXISTS `codef_connection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codef_connection` (
  `connection_id` bigint NOT NULL AUTO_INCREMENT COMMENT '금융 연동 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `connected_id_encrypted` varchar(1024) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '암호화된 CODEF Connected ID',
  `connected_id_hash` char(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Connected ID SHA-256 해시',
  `status` enum('ACTIVE','DISCONNECTED','ERROR') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE' COMMENT '연동 상태',
  `last_sync_at` timestamp NULL DEFAULT NULL COMMENT '전체 계좌 마지막 동기화 시각(연동 단위)',
  `last_sync_error_message` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '최근 동기화 실패 사유',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '수정 일시',
  PRIMARY KEY (`connection_id`),
  UNIQUE KEY `uq_codef_connection_user` (`user_id`),
  UNIQUE KEY `uq_codef_connection_connected_hash` (`connected_id_hash`),
  CONSTRAINT `fk_codef_connection_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='CODEF 금융기관 연동';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codef_connection`
--

LOCK TABLES `codef_connection` WRITE;
/*!40000 ALTER TABLE `codef_connection` DISABLE KEYS */;
/*!40000 ALTER TABLE `codef_connection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codef_institution_connection`
--

DROP TABLE IF EXISTS `codef_institution_connection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codef_institution_connection` (
  `institution_connection_id` bigint NOT NULL AUTO_INCREMENT,
  `connection_id` bigint NOT NULL,
  `institution_code` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `business_type` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `login_type` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ID_PASSWORD',
  `login_id_encrypted` varchar(1024) COLLATE utf8mb4_unicode_ci NOT NULL,
  `login_password_encrypted` varchar(1024) COLLATE utf8mb4_unicode_ci NOT NULL,
  `birth_date_encrypted` varchar(1024) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('ACTIVE','DISCONNECTED','ERROR') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE',
  `last_sync_at` timestamp NULL DEFAULT NULL,
  `last_sync_error_message` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`institution_connection_id`),
  UNIQUE KEY `uq_codef_institution_connection` (`connection_id`,`institution_code`,`business_type`),
  CONSTRAINT `fk_codef_institution_connection_connection` FOREIGN KEY (`connection_id`) REFERENCES `codef_connection` (`connection_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codef_institution_connection`
--

LOCK TABLES `codef_institution_connection` WRITE;
/*!40000 ALTER TABLE `codef_institution_connection` DISABLE KEYS */;
/*!40000 ALTER TABLE `codef_institution_connection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `connected_account`
--

DROP TABLE IF EXISTS `connected_account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `connected_account` (
  `account_id` bigint NOT NULL AUTO_INCREMENT COMMENT '연동 계좌 ID',
  `connection_id` bigint NOT NULL COMMENT 'CODEF 연동 ID',
  `institution_code` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'CODEF organization 코드',
  `institution_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '금융기관명',
  `account_number_encrypted` varchar(1024) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '암호화된 실제 계좌번호',
  `account_number_hash` char(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '계좌번호 SHA-256 해시',
  `account_masked` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '화면 표시용 마스킹 계좌번호',
  `business_type` enum('BK','ST') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'BK' COMMENT 'CODEF 업무 구분(BK 은행, ST 증권)',
  `account_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '계좌유형',
  `account_role` enum('SOLDIER_SAVING','NARASARANG','GENERAL') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'GENERAL' COMMENT '계좌 분류',
  `product_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '상품명',
  `current_balance` bigint NOT NULL DEFAULT '0' COMMENT '조회 시점 잔액',
  `available_balance` bigint DEFAULT NULL COMMENT '출금 가능 금액',
  `account_opened_date` date DEFAULT NULL COMMENT '계좌 개설일',
  `maturity_date` date DEFAULT NULL COMMENT '만기일',
  `last_synced_at` timestamp NULL DEFAULT NULL COMMENT '계좌별 최근 조회일',
  `last_processed_transaction_id` bigint DEFAULT NULL COMMENT '배치 diff 커서',
  `status` enum('ACTIVE','DISCONNECTED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE' COMMENT '계좌 상태',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '수정 일시',
  PRIMARY KEY (`account_id`),
  UNIQUE KEY `uq_connected_account_source` (`connection_id`,`institution_code`,`account_number_hash`),
  CONSTRAINT `fk_connected_account_connection` FOREIGN KEY (`connection_id`) REFERENCES `codef_connection` (`connection_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='CODEF 연동 계좌 — MVP는 수시입출·정기적금·증권 계좌만 후속 동기화 대상(신탁·외화·펀드·대출은 저장은 하되 거래내역 미수집)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `connected_account`
--

LOCK TABLES `connected_account` WRITE;
/*!40000 ALTER TABLE `connected_account` DISABLE KEYS */;
/*!40000 ALTER TABLE `connected_account` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_market_report`
--

DROP TABLE IF EXISTS `daily_market_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_market_report` (
  `report_id` bigint NOT NULL AUTO_INCREMENT COMMENT '오늘의 리포트 ID',
  `report_date` date NOT NULL COMMENT '서비스 기준일(18:00~익일 17:59 노출 구간의 기준 날짜)',
  `content` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Gemini API가 생성한 오늘의 시장 경향 리포트 텍스트',
  `valid_from` timestamp NOT NULL COMMENT '노출 시작 시각(해당일 18:00)',
  `valid_until` timestamp NOT NULL COMMENT '노출 종료 시각(익일 17:59)',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  PRIMARY KEY (`report_id`),
  UNIQUE KEY `uq_daily_market_report_date` (`report_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='오늘의 AI투자리포트 — 전체 사용자 공통 1일 1건';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_market_report`
--

LOCK TABLES `daily_market_report` WRITE;
/*!40000 ALTER TABLE `daily_market_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_market_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `device_token`
--

DROP TABLE IF EXISTS `device_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `device_token` (
  `device_token_id` bigint NOT NULL AUTO_INCREMENT COMMENT '디바이스 토큰 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `fcm_token` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'FCM 디바이스 토큰',
  `device_type` enum('IOS','ANDROID','WEB') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '디바이스 유형',
  `is_active` tinyint(1) NOT NULL DEFAULT '1' COMMENT '활성 여부',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '수정 일시',
  PRIMARY KEY (`device_token_id`),
  UNIQUE KEY `uq_device_token_fcm` (`fcm_token`),
  KEY `fk_device_token_user` (`user_id`),
  CONSTRAINT `fk_device_token_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='FCM 디바이스 토큰 관리';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `device_token`
--

LOCK TABLES `device_token` WRITE;
/*!40000 ALTER TABLE `device_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `device_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `discharge_report`
--

DROP TABLE IF EXISTS `discharge_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `discharge_report` (
  `report_id` bigint NOT NULL AUTO_INCREMENT COMMENT '전역 리포트 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `start_asset` bigint NOT NULL DEFAULT '0' COMMENT '입대 시 자산',
  `final_asset` bigint NOT NULL DEFAULT '0' COMMENT '전역 시 자산',
  `growth_rate` decimal(5,2) DEFAULT NULL COMMENT '자산 증가율',
  `goal_achievement_rate` decimal(5,2) DEFAULT NULL COMMENT '목표 달성률',
  `report_json` json DEFAULT NULL COMMENT '전역 리포트 상세 결과',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  PRIMARY KEY (`report_id`),
  UNIQUE KEY `uq_discharge_report_user` (`user_id`),
  CONSTRAINT `fk_discharge_report_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='전역 리포트 — 전역 시점 1회성 결과물, 유저당 1행(2026-07-22 확정)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `discharge_report`
--

LOCK TABLES `discharge_report` WRITE;
/*!40000 ALTER TABLE `discharge_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `discharge_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financial_product`
--

DROP TABLE IF EXISTS `financial_product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financial_product` (
  `product_id` bigint NOT NULL AUTO_INCREMENT COMMENT '금융 상품 ID',
  `product_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '상품명',
  `company_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '금융회사명',
  `product_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '상품 유형',
  `base_interest_rate` decimal(5,2) DEFAULT NULL COMMENT '기본 금리',
  `max_interest_rate` decimal(5,2) DEFAULT NULL COMMENT '최고 금리',
  `return_rate_1y` decimal(6,2) DEFAULT NULL COMMENT '최근 1년 수익률',
  `risk_category` enum('SAFE','AGGRESSIVE') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '위험 분류',
  `eligibility` text COLLATE utf8mb4_unicode_ci COMMENT '가입 조건',
  `description` text COLLATE utf8mb4_unicode_ci COMMENT '상품 설명',
  `source_url` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '출처 URL',
  `as_of_date` date DEFAULT NULL COMMENT '정보 기준일',
  `status` enum('ACTIVE','EXPIRED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE' COMMENT '상품 상태',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '수정 일시',
  PRIMARY KEY (`product_id`),
  UNIQUE KEY `uq_financial_product` (`product_name`,`company_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='금융 상품 — 적금·예금·ETF 등 투자상품 통합 관리(2026-07-24, 상품추천을 다시 MVP로 재격상하며 확장). CODEF 카탈로그에 대응 API 없음, 금융감독원·ETF CHECK류 외부 소스 필요';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financial_product`
--

LOCK TABLES `financial_product` WRITE;
/*!40000 ALTER TABLE `financial_product` DISABLE KEYS */;
/*!40000 ALTER TABLE `financial_product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `goal`
--

DROP TABLE IF EXISTS `goal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `goal` (
  `goal_id` bigint NOT NULL AUTO_INCREMENT COMMENT '목표 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `target_amount` bigint NOT NULL DEFAULT '0' COMMENT '전역 자산 목표. 0은 목표 미설정 sentinel',
  `target_date` date DEFAULT NULL COMMENT '목표 달성 목표일',
  `status` enum('ACTIVE','COMPLETED','ARCHIVED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE' COMMENT '목표 상태',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '수정 일시',
  PRIMARY KEY (`goal_id`),
  UNIQUE KEY `uq_goal_user` (`user_id`),
  CONSTRAINT `fk_goal_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_goal_target_amount` CHECK ((`target_amount` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='전역 자산 목표';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `goal`
--

LOCK TABLES `goal` WRITE;
/*!40000 ALTER TABLE `goal` DISABLE KEYS */;
INSERT INTO `goal` VALUES (1,1,20000000,'2026-09-01','ACTIVE','2026-08-05 07:12:37','2026-08-05 07:12:37'),(2,2,23000000,NULL,'ACTIVE','2026-08-05 07:14:27','2026-08-05 07:14:27');
/*!40000 ALTER TABLE `goal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investment_badge`
--

DROP TABLE IF EXISTS `investment_badge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `investment_badge` (
  `badge_id` bigint NOT NULL AUTO_INCREMENT COMMENT '투자 뱃지 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `initial_preference` enum('SAFE','BALANCED','AGGRESSIVE') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '온보딩 선택 시드값',
  `badge_tier` enum('SAFE','BALANCED','AGGRESSIVE') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '뱃지 유형',
  `safe_count` int NOT NULL DEFAULT '0' COMMENT '안정형 미션 누적 완료 수',
  `safe_grade` enum('BRONZE','SILVER','GOLD','PLATINUM','DIAMOND') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '안정형 누적 등급',
  `aggressive_count` int NOT NULL DEFAULT '0' COMMENT '공격형 미션 누적 완료 수',
  `aggressive_grade` enum('BRONZE','SILVER','GOLD','PLATINUM','DIAMOND') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '공격형 누적 등급',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '수정 일시',
  PRIMARY KEY (`badge_id`),
  UNIQUE KEY `uq_investment_badge_user` (`user_id`),
  CONSTRAINT `fk_investment_badge_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='투자 뱃지 — 미션 완료 기반, 실시간 갱신(2026-07-25, 저녁 균형형 판정+콜드스타트 시드 추가)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investment_badge`
--

LOCK TABLES `investment_badge` WRITE;
/*!40000 ALTER TABLE `investment_badge` DISABLE KEYS */;
/*!40000 ALTER TABLE `investment_badge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investment_guidance`
--

DROP TABLE IF EXISTS `investment_guidance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `investment_guidance` (
  `guidance_id` bigint NOT NULL AUTO_INCREMENT COMMENT '투자 가이드 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `plan_id` bigint NOT NULL COMMENT '계산에 사용한 적립 계획 ID',
  `plan_updated_at` timestamp NOT NULL COMMENT '계산에 사용한 적립 계획 버전 시각',
  `input_data_hash` char(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '계획·목표·예측·증권평가 입력 해시',
  `service_stage` enum('PRIVATE_BASE','PRIVATE_FIRST_CLASS_GROWTH','CORPORAL_CHECK','SERGEANT_PREPARE') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '계급 기반 UI 여정 단계',
  `action_type` enum('START','CONTINUE','REDUCE','PAUSE','SAFE_FOCUS','REVIEW') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '다음 적립 회차 행동 가이드',
  `target_amount` bigint NOT NULL COMMENT '전역 목표금액',
  `current_contribution_amount` bigint NOT NULL COMMENT '현재 회차당 적립금',
  `recommended_contribution_amount` bigint NOT NULL COMMENT '추천 회차당 적립금',
  `continue_expected_asset` bigint NOT NULL COMMENT '현재 계획 유지 시 전역 예상자산',
  `recommended_expected_asset` bigint NOT NULL COMMENT '추천 계획 적용 시 전역 예상자산',
  `investment_principal` bigint NOT NULL DEFAULT '0' COMMENT '선택 투자대상의 매입원금',
  `market_value` bigint NOT NULL DEFAULT '0' COMMENT '선택 투자대상의 평가금액',
  `unrealized_profit_loss` bigint NOT NULL DEFAULT '0' COMMENT '선택 투자대상의 평가손익',
  `return_rate` decimal(9,4) NOT NULL DEFAULT '0.0000' COMMENT '선택 투자대상의 수익률(%)',
  `expected_return_rate` decimal(5,2) NOT NULL DEFAULT '0.00' COMMENT '결정론 계산에 사용한 연 예상수익률(%)',
  `remaining_contribution_count` int NOT NULL DEFAULT '0' COMMENT '전역일까지 남은 적립 회차 수',
  `safety_buffer_amount` bigint NOT NULL DEFAULT '0' COMMENT 'SAFE_FOCUS 판정용 안전 여유금',
  `reason` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '가이드 설명. 숫자와 행동은 Spring이 결정',
  `market_data_as_of` timestamp NULL DEFAULT NULL COMMENT '증권 평가 데이터 기준시각',
  `next_review_at` timestamp NOT NULL COMMENT '다음 가이드 계산 예정시각',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  PRIMARY KEY (`guidance_id`),
  KEY `idx_investment_guidance_user_created` (`user_id`,`created_at`,`guidance_id`),
  KEY `idx_investment_guidance_user_hash` (`user_id`,`input_data_hash`),
  KEY `fk_investment_guidance_plan` (`plan_id`),
  CONSTRAINT `fk_investment_guidance_plan` FOREIGN KEY (`plan_id`) REFERENCES `recurring_investment_plan` (`plan_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_investment_guidance_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_investment_guidance_amounts` CHECK (((`target_amount` >= 0) and (`current_contribution_amount` >= 0) and (`recommended_contribution_amount` >= 0) and (`remaining_contribution_count` >= 0) and (`safety_buffer_amount` >= 0)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='증권 평가와 전역 목표를 반영한 다음 적립금 가이드. 자동 매도·자동 주문 없음';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investment_guidance`
--

LOCK TABLES `investment_guidance` WRITE;
/*!40000 ALTER TABLE `investment_guidance` DISABLE KEYS */;
/*!40000 ALTER TABLE `investment_guidance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_mode`
--

DROP TABLE IF EXISTS `leave_mode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leave_mode` (
  `leave_mode_id` bigint NOT NULL AUTO_INCREMENT COMMENT '휴가모드 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `start_date` date NOT NULL COMMENT '휴가 시작일',
  `end_date` date NOT NULL COMMENT '휴가 종료일',
  `budget_amount` bigint DEFAULT NULL COMMENT '휴가 예산 설정값(선택 입력)',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  PRIMARY KEY (`leave_mode_id`),
  KEY `fk_leave_mode_user` (`user_id`),
  CONSTRAINT `fk_leave_mode_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='휴가모드 — 대시보드 UI/UX 전환 트리거 + 휴가 예산 추적(2026-07-25)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_mode`
--

LOCK TABLES `leave_mode` WRITE;
/*!40000 ALTER TABLE `leave_mode` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_mode` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `military_benefit`
--

DROP TABLE IF EXISTS `military_benefit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `military_benefit` (
  `benefit_id` bigint NOT NULL AUTO_INCREMENT COMMENT '혜택 ID',
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '혜택명',
  `category` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '혜택 유형',
  `description` text COLLATE utf8mb4_unicode_ci COMMENT '혜택 설명',
  `target_rank` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '대상 계급',
  `target_service` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '대상 군종',
  `benefit_context` enum('GENERAL','LEAVE') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'GENERAL' COMMENT '혜택 구분',
  `card_company` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '카드사명',
  `source_url` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '출처 URL',
  `effective_from` date DEFAULT NULL COMMENT '시행일',
  `effective_to` date DEFAULT NULL COMMENT '종료일',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '수정 일시',
  PRIMARY KEY (`benefit_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='군인 혜택 및 청년 정책 — CODEF 카탈로그 밖, 병무청/보훈처 등 별도 소스 필요. 휴가모드 카드할인 혜택 포함(2026-07-25)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `military_benefit`
--

LOCK TABLES `military_benefit` WRITE;
/*!40000 ALTER TABLE `military_benefit` DISABLE KEYS */;
/*!40000 ALTER TABLE `military_benefit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `military_pay_policy`
--

DROP TABLE IF EXISTS `military_pay_policy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `military_pay_policy` (
  `pay_policy_id` bigint NOT NULL AUTO_INCREMENT COMMENT '봉급 정책 ID',
  `soldier_type` enum('ARMY','NAVY','AIRFORCE','MARINE') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '군종',
  `rank_name` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '계급',
  `effective_year` smallint NOT NULL COMMENT '적용 연도',
  `monthly_salary` bigint NOT NULL COMMENT '월 봉급',
  `effective_from` date NOT NULL COMMENT '정책 시작일',
  `effective_to` date DEFAULT NULL COMMENT '정책 종료일',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  PRIMARY KEY (`pay_policy_id`),
  UNIQUE KEY `uq_military_pay_policy` (`soldier_type`,`rank_name`,`effective_year`),
  CONSTRAINT `chk_military_pay_policy_salary` CHECK ((`monthly_salary` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='계급별 봉급 정책 — cashflow_forecast.expected_salary 계산의 근거 데이터. 국방부 등 별도 소스 필요(CODEF 카탈로그 밖)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `military_pay_policy`
--

LOCK TABLES `military_pay_policy` WRITE;
/*!40000 ALTER TABLE `military_pay_policy` DISABLE KEYS */;
/*!40000 ALTER TABLE `military_pay_policy` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mission`
--

DROP TABLE IF EXISTS `mission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mission` (
  `mission_id` bigint NOT NULL AUTO_INCREMENT COMMENT '미션 ID',
  `mission_type` enum('SAFE','AGGRESSIVE') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '미션 성향(공통 미션은 NULL)',
  `mission_category` enum('DAILY','RECOMMENDED','ONE_TIME','EVENT') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'DAILY' COMMENT '미션 노출 분류',
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '미션명 (예: 30일 연속 출석 체크, ETF 첫 투자 미션)',
  `description` text COLLATE utf8mb4_unicode_ci COMMENT '미션 설명',
  `action_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '완료 조건 유형 (ATTENDANCE, PRODUCT_VIEW, SAVING_CHECK, SIMULATION_RUN 등)',
  `display_order` int NOT NULL DEFAULT '0' COMMENT '화면 노출 순서',
  `trigger_type` enum('NONE','DAYS_TO_DISCHARGE','LEAVE_SCHEDULED','PAYDAY') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'NONE' COMMENT '이벤트 미션 노출 조건 유형',
  `trigger_value` int DEFAULT NULL COMMENT '이벤트 조건값(예: 전역까지 남은 일수)',
  `event_priority` int NOT NULL DEFAULT '0' COMMENT '동시 이벤트 발생 시 노출 우선순위',
  `is_active` tinyint(1) NOT NULL DEFAULT '1' COMMENT '활성 여부',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  PRIMARY KEY (`mission_id`),
  CONSTRAINT `chk_mission_daily_common_type` CHECK (((`mission_category` <> _utf8mb4'DAILY') or (`mission_type` is null))),
  CONSTRAINT `chk_mission_display_order` CHECK ((`display_order` >= 0)),
  CONSTRAINT `chk_mission_event_priority` CHECK ((`event_priority` >= 0)),
  CONSTRAINT `chk_mission_event_trigger` CHECK (((`mission_category` <> _utf8mb4'EVENT') or (`trigger_type` <> _utf8mb4'NONE'))),
  CONSTRAINT `chk_mission_recommended_type` CHECK (((`mission_category` <> _utf8mb4'RECOMMENDED') or (`mission_type` is not null))),
  CONSTRAINT `chk_mission_trigger_value` CHECK (((`trigger_value` is null) or (`trigger_value` >= 0)))
) ENGINE=InnoDB AUTO_INCREMENT=79 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='공통 데일리·성향별 추천·1회성·조건형 이벤트 미션을 관리하는 마스터';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mission`
--

LOCK TABLES `mission` WRITE;
/*!40000 ALTER TABLE `mission` DISABLE KEYS */;
/*!40000 ALTER TABLE `mission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_history`
--

DROP TABLE IF EXISTS `notification_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_history` (
  `notification_id` bigint NOT NULL AUTO_INCREMENT COMMENT '알림 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `notification_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '알림 유형(DAILY_MARKET_REPORT, LEAVE_REMINDER, MISSION, SYNC_DONE 등)',
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '알림 제목',
  `body` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '알림 본문',
  `is_read` tinyint(1) NOT NULL DEFAULT '0' COMMENT '읽음 여부',
  `sent_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '발송 일시',
  `read_at` timestamp NULL DEFAULT NULL COMMENT '읽은 일시',
  PRIMARY KEY (`notification_id`),
  KEY `fk_notification_history_user` (`user_id`),
  CONSTRAINT `fk_notification_history_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='알림 발송 이력 — FCM + Redis Streams 기반 발송';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_history`
--

LOCK TABLES `notification_history` WRITE;
/*!40000 ALTER TABLE `notification_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_recommendation`
--

DROP TABLE IF EXISTS `product_recommendation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_recommendation` (
  `recommendation_id` bigint NOT NULL AUTO_INCREMENT COMMENT '상품 추천 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `product_id` bigint NOT NULL COMMENT '금융 상품 ID',
  `recommend_reason` text COLLATE utf8mb4_unicode_ci COMMENT '추천 사유',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '추천 일시',
  PRIMARY KEY (`recommendation_id`),
  UNIQUE KEY `uq_product_recommendation_user_product` (`user_id`,`product_id`),
  KEY `fk_product_recommendation_product` (`product_id`),
  CONSTRAINT `fk_product_recommendation_product` FOREIGN KEY (`product_id`) REFERENCES `financial_product` (`product_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_product_recommendation_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='금융 상품 추천 — 규칙 기반 매칭(자격조건 필터+금리 정렬), AI 아님(2026-07-24 확정). recommend_reason은 템플릿 문자열. 2026-07-24 재확장: simulation.expected_return_rate 입력이 있으면 financial_product.return_rate_1y >= expected_return_rate 조건도 필터에 추가(ETF 등 투자상품 추천, MVP 재격상) — 이것도 단순 WHERE 필터라 규칙 기반 원칙 그대로 유지';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_recommendation`
--

LOCK TABLES `product_recommendation` WRITE;
/*!40000 ALTER TABLE `product_recommendation` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_recommendation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recurring_investment_plan`
--

DROP TABLE IF EXISTS `recurring_investment_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recurring_investment_plan` (
  `plan_id` bigint NOT NULL AUTO_INCREMENT COMMENT '적립식 투자 계획 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `brokerage_account_id` bigint NOT NULL COMMENT '사용자가 선택한 증권 계좌 ID',
  `frequency` enum('WEEKLY','MONTHLY') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '적립 주기',
  `contribution_day` tinyint unsigned NOT NULL COMMENT '주간 1(월)~7(일), 월간 1~28',
  `contribution_amount` bigint NOT NULL COMMENT '회차당 현재 적립 예정 금액',
  `maximum_monthly_amount` bigint NOT NULL COMMENT '사용자가 설정한 월 최대 투자한도',
  `investment_product_code` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '사용자가 선택한 투자 대상 코드',
  `investment_product_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '사용자가 선택한 투자 대상명',
  `status` enum('ACTIVE','PAUSED','SAFE_FOCUS') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVE' COMMENT '내부 적립 계획 상태',
  `next_contribution_date` date DEFAULT NULL COMMENT '다음 내부 적립 예정일',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '수정 일시',
  PRIMARY KEY (`plan_id`),
  UNIQUE KEY `uq_recurring_investment_plan_user` (`user_id`),
  KEY `fk_recurring_investment_plan_account` (`brokerage_account_id`),
  CONSTRAINT `fk_recurring_investment_plan_account` FOREIGN KEY (`brokerage_account_id`) REFERENCES `connected_account` (`account_id`) ON DELETE RESTRICT,
  CONSTRAINT `fk_recurring_investment_plan_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_recurring_investment_plan_amounts` CHECK (((`contribution_amount` >= 0) and (`maximum_monthly_amount` >= 0))),
  CONSTRAINT `chk_recurring_investment_plan_day` CHECK ((((`frequency` = _utf8mb4'WEEKLY') and (`contribution_day` between 1 and 7)) or ((`frequency` = _utf8mb4'MONTHLY') and (`contribution_day` between 1 and 28))))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='사용자가 직접 설정한 정기 위험자산 적립 계획. 실제 증권 주문은 수행하지 않음';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recurring_investment_plan`
--

LOCK TABLES `recurring_investment_plan` WRITE;
/*!40000 ALTER TABLE `recurring_investment_plan` DISABLE KEYS */;
/*!40000 ALTER TABLE `recurring_investment_plan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refresh_token`
--

DROP TABLE IF EXISTS `refresh_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `refresh_token` (
  `token_id` bigint NOT NULL AUTO_INCREMENT COMMENT '토큰 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `token_hash` char(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Refresh Token SHA-256 해시값',
  `user_agent` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '발급 기기 정보(OS, 브라우저 등)',
  `expires_at` datetime NOT NULL COMMENT '만료 일시',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  PRIMARY KEY (`token_id`),
  UNIQUE KEY `uq_refresh_token_hash` (`token_hash`),
  KEY `fk_refresh_token_user` (`user_id`),
  CONSTRAINT `fk_refresh_token_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='JWT Refresh Token 관리';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refresh_token`
--

LOCK TABLES `refresh_token` WRITE;
/*!40000 ALTER TABLE `refresh_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `refresh_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `simulation`
--

DROP TABLE IF EXISTS `simulation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `simulation` (
  `simulation_id` bigint NOT NULL AUTO_INCREMENT COMMENT '시뮬레이션 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `scenario_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '시나리오명',
  `target_amount` bigint NOT NULL COMMENT '시나리오 평가 목표금액 스냅샷',
  `monthly_saving_amount` bigint NOT NULL COMMENT '월 저축액(원)',
  `investment_ratio` decimal(5,2) NOT NULL COMMENT '투자 비율(%, 0~100)',
  `expected_return_rate` decimal(5,2) NOT NULL COMMENT '사용자 입력 목표 투자수익률(%, 연 환산 가정)',
  `monthly_spending_amount` bigint NOT NULL COMMENT '월 소비액(원)',
  `expected_asset` bigint NOT NULL COMMENT '전역 예상 자산',
  `financial_discharge_date` date DEFAULT NULL COMMENT '이 시나리오 기준 재정적 전역일',
  `is_saved` tinyint(1) NOT NULL DEFAULT '1' COMMENT '사용자 저장 여부',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '수정 일시',
  PRIMARY KEY (`simulation_id`),
  KEY `fk_simulation_user` (`user_id`),
  CONSTRAINT `fk_simulation_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_simulation_investment_ratio` CHECK ((`investment_ratio` between 0 and 100)),
  CONSTRAINT `chk_simulation_target_amount` CHECK ((`target_amount` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='사용자 What-if 시뮬레이션 — 누적 저장(강사 피드백 반영), GET /simulations(목록)·GET /simulations/{id}(상세)로 재조회';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `simulation`
--

LOCK TABLES `simulation` WRITE;
/*!40000 ALTER TABLE `simulation` DISABLE KEYS */;
/*!40000 ALTER TABLE `simulation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `soldier_profile`
--

DROP TABLE IF EXISTS `soldier_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `soldier_profile` (
  `profile_id` bigint NOT NULL AUTO_INCREMENT COMMENT '군 복무 프로필 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `soldier_type` enum('ARMY','NAVY','AIRFORCE','MARINE') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '군종',
  `rank_name` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '현재 계급',
  `enlistment_date` date NOT NULL COMMENT '입대일',
  `discharge_date` date NOT NULL COMMENT '전역 예정일',
  `saving_join_yn` tinyint(1) NOT NULL DEFAULT '0' COMMENT '장병내일준비적금 가입 여부',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '수정 일시',
  PRIMARY KEY (`profile_id`),
  UNIQUE KEY `uq_soldier_profile_user` (`user_id`),
  CONSTRAINT `fk_soldier_profile_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_soldier_profile_date` CHECK ((`discharge_date` >= `enlistment_date`))
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='군 복무 프로필';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `soldier_profile`
--

LOCK TABLES `soldier_profile` WRITE;
/*!40000 ALTER TABLE `soldier_profile` DISABLE KEYS */;
/*!40000 ALTER TABLE `soldier_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `soldier_saving`
--

DROP TABLE IF EXISTS `soldier_saving`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `soldier_saving` (
  `saving_id` bigint NOT NULL AUTO_INCREMENT COMMENT '장병 적금 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `account_id` bigint NOT NULL COMMENT '연동 적금 계좌 ID',
  `bank_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '은행명',
  `monthly_amount` bigint DEFAULT NULL COMMENT '월 납입액',
  `interest_rate` decimal(5,2) DEFAULT NULL COMMENT '적용 금리',
  `government_support_expected` bigint DEFAULT NULL COMMENT '예상 정부 매칭지원금',
  `start_date` date DEFAULT NULL COMMENT '가입일',
  `end_date` date DEFAULT NULL COMMENT '만기일',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '수정 일시',
  PRIMARY KEY (`saving_id`),
  UNIQUE KEY `uq_soldier_saving_account` (`account_id`),
  KEY `fk_soldier_saving_user` (`user_id`),
  CONSTRAINT `fk_soldier_saving_account` FOREIGN KEY (`account_id`) REFERENCES `connected_account` (`account_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_soldier_saving_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='장병내일준비적금 상세';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `soldier_saving`
--

LOCK TABLES `soldier_saving` WRITE;
/*!40000 ALTER TABLE `soldier_saving` DISABLE KEYS */;
/*!40000 ALTER TABLE `soldier_saving` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `strategy_application`
--

DROP TABLE IF EXISTS `strategy_application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `strategy_application` (
  `application_id` bigint NOT NULL AUTO_INCREMENT COMMENT '전략 적용 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `source_type` enum('SIMULATION','AI_RECOMMENDATION','INVESTMENT_GUIDANCE','MANUAL') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '적용 출처',
  `simulation_id` bigint DEFAULT NULL COMMENT '원본 시뮬레이션 ID',
  `ai_scenario_id` bigint DEFAULT NULL COMMENT '원본 AI 추천 시나리오 ID',
  `guidance_id` bigint DEFAULT NULL COMMENT '원본 적립식 투자 가이드 ID',
  `applied_guidance_action` enum('START','CONTINUE','REDUCE','PAUSE','SAFE_FOCUS') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '사용자가 실제 선택한 가이드 행동',
  `applied_investment_frequency` enum('WEEKLY','MONTHLY') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '적용한 적립 주기',
  `applied_recurring_contribution_amount` bigint DEFAULT NULL COMMENT '적용한 회차당 위험자산 적립금',
  `applied_monthly_saving_amount` bigint DEFAULT NULL COMMENT '적용 월 저축액',
  `applied_investment_ratio` decimal(5,2) DEFAULT NULL COMMENT '적용 투자 비율(%)',
  `applied_expected_return_rate` decimal(5,2) DEFAULT NULL COMMENT '적용 목표 투자수익률',
  `applied_monthly_spending_amount` bigint DEFAULT NULL COMMENT '적용 월 소비액',
  `before_expected_asset` bigint DEFAULT NULL COMMENT '적용 전 예상 자산',
  `after_expected_asset` bigint DEFAULT NULL COMMENT '적용 후 예상 자산',
  `applied_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '적용 일시',
  PRIMARY KEY (`application_id`),
  UNIQUE KEY `uq_strategy_application_guidance_selection` (`user_id`,`guidance_id`,`applied_guidance_action`,`applied_investment_frequency`,`applied_recurring_contribution_amount`),
  KEY `fk_strategy_application_simulation` (`simulation_id`),
  KEY `fk_strategy_application_ai_scenario` (`ai_scenario_id`),
  KEY `fk_strategy_application_guidance` (`guidance_id`),
  CONSTRAINT `fk_strategy_application_ai_scenario` FOREIGN KEY (`ai_scenario_id`) REFERENCES `ai_recommended_scenario` (`scenario_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_strategy_application_guidance` FOREIGN KEY (`guidance_id`) REFERENCES `investment_guidance` (`guidance_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_strategy_application_simulation` FOREIGN KEY (`simulation_id`) REFERENCES `simulation` (`simulation_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_strategy_application_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_strategy_application_investment_ratio` CHECK (((`applied_investment_ratio` is null) or (`applied_investment_ratio` between 0 and 100))),
  CONSTRAINT `chk_strategy_application_recurring_amount` CHECK (((`applied_recurring_contribution_amount` is null) or (`applied_recurring_contribution_amount` >= 0)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='AI 추천과 적립식 투자 가이드의 "적용하기" 감사 기록. 실제 금융 주문은 수행하지 않음';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `strategy_application`
--

LOCK TABLES `strategy_application` WRITE;
/*!40000 ALTER TABLE `strategy_application` DISABLE KEYS */;
/*!40000 ALTER TABLE `strategy_application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction_history`
--

DROP TABLE IF EXISTS `transaction_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaction_history` (
  `transaction_id` bigint NOT NULL AUTO_INCREMENT COMMENT '거래 내역 ID',
  `account_id` bigint NOT NULL COMMENT '연동 계좌 ID',
  `transaction_datetime` datetime NOT NULL COMMENT '거래 일시',
  `amount` bigint NOT NULL COMMENT '거래 금액(항상 0 이상)',
  `balance_after` bigint DEFAULT NULL COMMENT '거래 후 잔액',
  `transaction_type` enum('DEPOSIT','WITHDRAW') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '입금 또는 출금',
  `category` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'AI 소비 카테고리',
  `category_source` enum('RULE','AI','USER') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '카테고리 생성 주체',
  `transaction_description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '거래 적요 또는 거래처',
  `external_transaction_key` char(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '거래 중복 방지 SHA-256 해시',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  PRIMARY KEY (`transaction_id`),
  UNIQUE KEY `uq_transaction_history_external_key` (`account_id`,`external_transaction_key`),
  CONSTRAINT `fk_transaction_history_account` FOREIGN KEY (`account_id`) REFERENCES `connected_account` (`account_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_transaction_history_amount` CHECK ((`amount` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='거래 내역';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction_history`
--

LOCK TABLES `transaction_history` WRITE;
/*!40000 ALTER TABLE `transaction_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaction_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_agreement`
--

DROP TABLE IF EXISTS `user_agreement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_agreement` (
  `agreement_id` bigint NOT NULL AUTO_INCREMENT COMMENT '약관 동의 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `agreement_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '약관 유형',
  `agreement_version` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '약관 버전',
  `is_required` tinyint(1) NOT NULL DEFAULT '1' COMMENT '필수 약관 여부',
  `agreed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '동의 일시',
  PRIMARY KEY (`agreement_id`),
  UNIQUE KEY `uq_user_agreement` (`user_id`,`agreement_type`,`agreement_version`),
  CONSTRAINT `fk_user_agreement_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='사용자 약관 동의';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_agreement`
--

LOCK TABLES `user_agreement` WRITE;
/*!40000 ALTER TABLE `user_agreement` DISABLE KEYS */;
INSERT INTO `user_agreement` VALUES (1,2,'SERVICE_USE','1.0',1,'2026-08-05 07:13:52'),(2,2,'PERSONAL_INFORMATION_COLLECTION','1.0',1,'2026-08-05 07:13:52'),(3,2,'FINANCIAL_INFORMATION_INQUIRY','1.0',1,'2026-08-05 07:13:52'),(4,2,'AI_SERVICE_USE','1.0',1,'2026-08-05 07:13:52'),(5,2,'MARKETING_INFORMATION_RECEIPT','1.0',1,'2026-08-05 07:13:52');
/*!40000 ALTER TABLE `user_agreement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_badge`
--

DROP TABLE IF EXISTS `user_badge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_badge` (
  `user_badge_id` bigint NOT NULL AUTO_INCREMENT COMMENT '사용자 뱃지 이력 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `badge_id` bigint NOT NULL COMMENT '뱃지 ID',
  `acquired_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '획득 일시',
  PRIMARY KEY (`user_badge_id`),
  UNIQUE KEY `uq_user_badge_user_badge` (`user_id`,`badge_id`),
  KEY `fk_user_badge_badge` (`badge_id`),
  CONSTRAINT `fk_user_badge_badge` FOREIGN KEY (`badge_id`) REFERENCES `badge` (`badge_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_user_badge_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='사용자별 투자 뱃지 획득 이력';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_badge`
--

LOCK TABLES `user_badge` WRITE;
/*!40000 ALTER TABLE `user_badge` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_badge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_mission_completion`
--

DROP TABLE IF EXISTS `user_mission_completion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_mission_completion` (
  `completion_id` bigint NOT NULL AUTO_INCREMENT COMMENT '미션 완료 ID',
  `user_id` bigint NOT NULL COMMENT '사용자 ID',
  `mission_id` bigint NOT NULL COMMENT '미션 ID',
  `completion_date` date NOT NULL COMMENT '완료 적용일',
  `completed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '실제 완료 일시',
  PRIMARY KEY (`completion_id`),
  UNIQUE KEY `uq_user_mission_completion` (`user_id`,`mission_id`,`completion_date`),
  KEY `fk_user_mission_completion_mission` (`mission_id`),
  CONSTRAINT `fk_user_mission_completion_mission` FOREIGN KEY (`mission_id`) REFERENCES `mission` (`mission_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_user_mission_completion_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='미션 완료 이력';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_mission_completion`
--

LOCK TABLES `user_mission_completion` WRITE;
/*!40000 ALTER TABLE `user_mission_completion` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_mission_completion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` bigint NOT NULL AUTO_INCREMENT COMMENT '사용자 ID',
  `social_type` enum('KAKAO','GOOGLE') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '소셜 로그인 유형',
  `social_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '소셜 제공자 내 사용자 식별자',
  `nickname` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '닉네임',
  `profile_image` enum('ARMY','NAVY','AIRFORCE','MARINE') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '프로필 아이콘. soldier_type과 같은 4종 값을 재사용하는 군종 스타일 아이콘',
  `profile_source` enum('GREEN','OLIVE','YELLOW','ORANGE','GRAY','BLACK') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '프로필 배경색. 6종 중 선택',
  `is_withdrawn` tinyint(1) NOT NULL DEFAULT '0' COMMENT '탈퇴 여부',
  `withdrawn_at` timestamp NULL DEFAULT NULL COMMENT '탈퇴 일시',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '생성 일시',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '수정 일시',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `uq_users_social_identity` (`social_type`,`social_id`),
  UNIQUE KEY `uq_users_nickname` (`nickname`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='사용자';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'jaedaero'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-13 11:30:08
